@import './base.css';

.home .container .row .col {
  position: relative;
  min-height: 100px;
  background-color: yellow;
}

header {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 20%;
  height: 80%;
  background-color: red;
}

.home .sinistra {
  width: 80%;
  height: 80vh;
  top: 15vh;
  left: 10%;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.home .destra {
  width: 80%;
  height: 80vh;
  border-radius: 20px;
  top: 15vh;
  left: 10%;
  position: absolute;
  background-color: #fff;
}

.home .centro {
  width: 90%;
  height: 80vh;
  top: 15vh;
  left: 5%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.home .centro::-webkit-scrollbar {
  display: none;
}


main {
  position: relative;
  top: 5.4rem;

}

main .container {
  display: grid;
  min-width: 100%;
  grid-template-columns: 18vw auto 20vw;
  gap: 4rem;
  left: -2%;

  position: relative;
}

aside {
  height: max-content;
  position: sticky;
  top: var(--sticky-top-left)
}

aside .profile {
  padding: 4%;
  background: var(--white-color);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}
aside a{
  text-decoration: none;
}

.img-fluid{
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 50px;
  height: 50px;
}


@media screen and (max-width: 991px) {
  .destra {
    display: none;
  }
  .sinistra{
      left: 0;
      margin: 0;
  }
  .container{
      max-width: 100%;
  }
  
  aside .profile
  {
      justify-content: center;
  }
  aside .text-profile{
      display: none;
  }
  aside .menu-item h3{
      display: none;
  }
  aside{
      width: 100%;
      justify-content: center;
  }
}
